body {
    font-size: 16px;
    padding: 10px;
}


.ul {
    list-style: none; /* Remove bullet points */
    display: inline;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove any default padding as well if needed */

}

.li {
    display: inline; /* Display list items inline */
    margin-right: 5px;
  
}

section {
    display: flex;
    justify-items: center;
    flex-wrap: nowrap;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

@media (max-width: 470px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;  
  }
}

.logoContainer {
  display: inline-flex;
  margin: 5px;
  justify-content: space-between;
  flex-wrap: nowrap;
}


.icon {
    width: 5%;
    height: auto;
    margin-right: 10px;
}

.gitHub, .linkedin {
    min-width: 30px;
    max-width: 50px;
    height: auto;
    padding-left: 10px;
}

.headingImages {
    width: 8%;
    min-width: 25px;
    height: auto;
    margin-right: 5px;
}

.inline-container {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
  }

  .nightButton {
    width: 20px;
    height: auto;
    margin-left: 10px;
    cursor: pointer;
  }

  .logo {
    border-radius: 50%;
    height: 50px;
    width: auto;
    margin: 10px;
    border: 1px solid white;
  }

  footer {
    text-align: center;
  }

/* Scroll-to-top button styles */
#scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

#upButton {
  width: 40px;
  height: 40px;
}
